0 */6 * * * sg nginx -c "PATH=\$PATH:/home/dmulder/.cargo/bin TMPDIR=/mnt/tmp BUILDAH_TMPDIR=/mnt/tmp /usr/bin/python3 /home/dmulder/code/build-host/himmelblau-auto-build.py --publish-dir=/mnt-build/repos/himmelblau >> /home/dmulder/himmelblau-build.log 2>&1"
